.product {
  min-height: 100vh;
  padding: 0 10px;
  display: grid;
  gap: 10px;
  grid-auto-rows: auto 1fr auto;
}

.product-storage {
  height: 100%;
  display: grid;
  gap: 10px;
  grid-auto-rows: 50% 1fr auto;
}

.p-s-image {
  background: #9b22e6;
  border-radius: 15px;
}

.p-s-data {
  display: grid;
  gap: 10px;
  overflow-y: hidden;
}

.p-s-details {
  overflow-y: scroll;
}

.p-s-counter {
  color: #fff;
  padding: 20px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: space-between;
  background: #303030;
  border-radius: 100px;
}