.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.header-navigate {
  color: #303030;
  font-size: 30px;
}

.header-logo {
  color: #303030;
}